Package: com.rednick16.jailed.example
Name: jailed_example
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Red16
Author: Red16
Section: Tweaks
Depends: #mobilesubstrate (>= 0.9.5000)
Version: 0.0.1
Installed-Size: 0
