Package: com.rednick16.libsupport
Name: libSupport
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Red16
Author: Red16
Section: Tweaks
Depends: 
Version: 0.0.1
Installed-Size: 0
