Package: com.rednick16.libsupport.bypassinjector
Name: BypassInjector
Version: 0.2
Architecture: iphoneos-arm
Description: Inject into any mobile app with sideload detection and watch the magic happen!
Maintainer: Red16
Author: Red16
Section: 
Depends: 
